<table class="contacts-wrap">
<tbody>
 <tr>
  <td>
   <br/>
   <p>
         <span>Полное наименование:</span> Башкирский научно-исследовательский институт сельского хозяйства<br>
         – обособленное структурное подразделение Федерального государственного бюджетного научного учреждения<br>
         Уфимского федерального исследовательского центра Российской академии наук<br><br>
         <span>Сокращенное наименование:</span> Башкирский НИИСХ УФИЦ РАН
   </p>
   <p>
      <br>
      Адрес:  450059, Республика Башкортостан, г. Уфа, ул. Рихарда Зорге, д. 19
      <br>
      Тел.:  8(347)223-07-08
      <br>
          Тел./факс: 8(347)223-07-08
          <br>
      e-mail:
      <a href="mailto:bniish@rambler.ru">
		  bniish@rambler.ru
      </a>
      <br>
      <br>
   </p>	

   <table class="contacts-group">
    <tbody>
     <tr bgcolor="#3b70b8">
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Должность, ученая степень, ученое звание
         </strong>
        </span>
       </span>
      </td>
	  
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          ФИО
         </strong>
        </span>
       </span>
      </td>
      
	  <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>

 <tr>
       <td>И.о. директора, д.с.-х.н.</td>
       <td>
        <b>Чанышев Ильдар Олегович</b>
       </td>
       <td>223-07-08
</td>
      </tr>


 <tr>
       <td>Первый заместитель директора по научной работе, к.с.-х.н.</td>
       <td>
        <b>Сахибгареев Ахмет Ахкямутдинович</b>
       </td>
       <td>223-09-94
</td>
      </tr>


 <tr>
       <td>Зам. директора по производству</td>
       <td>
        <b>Багманов Ришат Тагирович</b>
       </td>
       <td>282-72-16
</td>
      </tr>


 <tr>
       <td>Зам. директора по общим вопросам</td>
       <td>
        <b>Акчурин Артур Рифкатович</b>
       </td>
       <td>223-09-42
</td>
      </tr>


 <tr>
       <td>Ученый секретарь, к.б.н.</td>
       <td>
        <b>Аминова Альбина Ленаровна</b>
       </td>
       <td>291-21-29
</td>
      </tr>


 <tr>
       <td>Приемная</td>
       <td>
        <b>Сабирова Эльвира Рифмировна</b>
       </td>
       <td>223-07-08
</td>
      </tr>


 <tr>
       <td>Главный бухгалтер</td>
       <td>
        <b>Муртазина Гульшат Рамилевна</b>
       </td>
       <td>223-09-56
</td>
      </tr>


 <tr>
       <td>Инженер по кадрам</td>
       <td>
        <b>Кутдусова Айгуль Фирдависовна</b>
       </td>
       <td>216-48-03
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел земледелия</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий отделом, в.н.с., к.с.-х.н.</td>
       <td>
        <b>Акчурин Рифкат Лутфуллович</b>
       </td>
       <td>223-05-88
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел семеноводства</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий отделом</td>
       <td>
        <b>Нугуманов Айдар Вагизович</b>
       </td>
       <td>223-09-53
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел молочного животноводства</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий отделом, в.н.с., к.с.-х.н.</td>
       <td>
        <b>Юмагузин Идрис Фидаевич</b>
       </td>
       <td>223-74-65
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел интенсивных технологий в животноводстве</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Старший научный сотрудник., к.с.-х.н.</td>
       <td>
        <b>Галина Чулпан Рифовна</b>
       </td>
       <td>223-06-83
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория селекции и технологии мясного скотоводства</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией, г.н.с., д.с.-х.н.</td>
       <td>
        <b>Фенченко Николай Григорьевич</b>
       </td>
       <td>223-09-26
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория кормления с/х животных и технологии кормов</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией, в.н.с., к.с.-х.н.</td>
       <td>
        <b>Шагалиев Фануз Мустафович</b>
       </td>
       <td>223-74-65
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Аналитическая лаборатория</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией, в.н.с., к.с.-х.н.</td>
       <td>
        <b>Пусенкова Людмила Ивановна</b>
       </td>
       <td>223-09-26
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td></td>
      </tr>
    </tbody>
  </table>
  </td>
 </tr>
</tbody>
</table>