<table class="contacts-wrap">
 <tr>
  <td>
   <br/>
   <p>
     Федеральное государственное бюджетное учреждение науки БОТАНИЧЕСКИЙ САД-ИНСТИТУТ Уфимского научного центра Российской академии наук
   </p>
   <p>  
    <br>
     450080, г. Уфа, ул. Менделеева, д. 195, корп.3
     <br>
     тел./факс: (347) 252-60-33, 228-13-55
     <br>
     e-mail:
     <a href="mailto:botsad@anrb.ru">
      botsad@anrb.ru
     </a>
     <br>
     <br>
   </p>
   <table class="contacts-group">
    <tbody>
     <tr>
     </tr>
     <tr bgcolor="#3b70b8">
      <td>
      </td>
      <td>
      </td>
      <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td width="380px">
       Директор, д.б.н.
      </td>
      <td>
       <b>
        Шигапов Зиннур Хайдарович
       </b>
      </td>
      <td>
       228-13-55,<br>252-60-33
      </td>
     </tr>
     <tr>
      <td>
       Заместитель директора по общим вопросам
      </td>
      <td>
       <b>
        Гарифуллин Анур Сагитович
       </b>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
       Ученый секретарь, к.б.н.
      </td>
      <td>
       <b>
        Фарукшина Гульфия Глюсовна
       </b>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
       Приемная
      </td>
      <td>
       <b>
        Нуртинова Елеза Аксановна
       </b>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
       Главный бухгалтер
      </td>
      <td>
       <b>
        Бикметова Лейсан Мударисовна
       </b>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
       Инспектор по кадрам
      </td>
      <td>
       <b>
        Нуртдинова Елеза Аксановна
       </b>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория дикорастущей флоры и интродукции травянистых растений
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.б.н.
      </td>
      <td>
       <b>
        Абрамова Лариса Михайловна
       </b>
      </td>
      <td>
       228-13-55,<br>252-60-33
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория дендрологии и лесной селекции
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.б.н.
      </td>
      <td>
       <b>
        Путенихин Валерий Петрович
       </b>
      </td>
      <td>
       228-13-55,<br>252-60-33
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория генетики и цитологии растений
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.б.н.
      </td>
      <td>
       <b>
        Шигапов Зиннур Хайдарович
       </b>
      </td>
      <td>
       228-13-55,<br>252-60-33
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория интродукции древесных растений и ландшафтного озеленения
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, к.б.н.
      </td>
      <td>
       <b>
        Вафин Рафкат Валиевич
       </b>
      </td>
      <td>
       228-13-55,<br>252-60-33
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория интродукции и селекции цветочных растений
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, к.с.-х.н.
      </td>
      <td>
       <b>
        Миронова Людмила Николаевна
       </b>
      </td>
      <td>
       228-13-55,<br>252-60-33
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория биотехнологии растений
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       И.о. заведующей лаборатории, к.б.н.
      </td>
      <td>
       <b>
        Зарипова Альфия Ануровна
       </b>
      </td>
      <td>
       228-13-55,<br>252-60-33
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Группа тропических и субтропических растений
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Руководитель группы, к.б.н.
      </td>
      <td>
       <b>
        Сулейманова Зугура Нурияхметовна
       </b>
      </td>
      <td>
       228-13-55,<br>252-60-33
      </td>
     </tr>
     <tr>
      <td>
      </td>
      <td>
      </td>
     </tr>
    </tbody>
   </table>
   <p>
   </p>
  </td>
 </tr>
</table>
