<table class="contacts-wrap">
 <tr>
  <td>
   <br/>
   <p>
         <span>Полное наименование:</span> Южно-Уральский ботанический сад-институт – обособленное структурное подразделение <br>
         Федерального государственного бюджетного научного учреждения <br>
         Уфимского федерального исследовательского центра Российской академии наук<br><br>
         <span>Сокращенное наименование:</span> ЮУБСИ УФИЦ РАН
   </p>
   <p>
      <br>
      Адрес:  450080, Республика Башкортостан, г. Уфа, ул. Менделеева, д. 195, корп. 3
      <br>
      Тел.:  (347) 286-12-55, 286-12-33
      <br>
          Тел./факс: (347) 286-12-55, 286-12-33
          <br>
      e-mail:
      <a href="mailto:botsad@anrb.ru">
		  botsad@anrb.ru
      </a>
      <br>
      <br>
   </p>	

   <table class="contacts-group">
    <tbody>
     <tr bgcolor="#3b70b8">
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Должность, ученая степень, ученое звание
         </strong>
        </span>
       </span>
      </td>
	  
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          ФИО
         </strong>
        </span>
       </span>
      </td>
      
	  <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>

 <tr>
       <td>Врио директора, д.б.н.</td>
       <td>
        <b>Шигапов Зиннур Хайдарович</b>
       </td>
       <td>286-12-55
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td>286-12-33
</td>
      </tr>


 <tr>
       <td>Заместитель директора по общим вопросам</td>
       <td>
        <b>Гарифуллин Анур Сагитович</b>
       </td>
       <td>286-12-55
</td>
      </tr>


 <tr>
       <td>Ученый секретарь, к.б.н.</td>
       <td>
        <b>Каримова Ольга Александровна</b>
       </td>
       <td>286-12-55
</td>
      </tr>


 <tr>
       <td>Приемная</td>
       <td>
        <b>Нуртдинова Елеза Аксановна</b>
       </td>
       <td>286-12-55
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td>286-12-33
</td>
      </tr>


 <tr>
       <td>Главный бухгалтер</td>
       <td>
        <b>Бикметова Лейсан Мударисовна</b>
       </td>
       <td>286-15-32
</td>
      </tr>


 <tr>
       <td>Инспектор по кадрам</td>
       <td>
        <b>Нуртдинова Елеза Аксановна</b>
       </td>
       <td>286-12-55
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория дикорастущей флоры и интродукции травянистых растений</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией, д.б.н.</td>
       <td>
        <b>Абрамова Лариса Михайловна</b>
       </td>
       <td>286-12-55
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория дендрологии, лесной селекции и интродукции древесных раст  ений</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией, д.б.н.</td>
       <td>
        <b>Путенихин Валерий Петрович</b>
       </td>
       <td>286-12-55
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория интродукции и селекции цветочных растений</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>И.о. заведующего лабораторией, к.б.н.</td>
       <td>
        <b>Реут Антонина Анатольевна</b>
       </td>
       <td>286-12-55
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория генетики и биотехнологии растений</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>И.о. заведующего лаборатории, к.б.н.</td>
       <td>
        <b>Зарипова Альфия Ануровна</b>
       </td>
       <td>286-12-55
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Группа тропических и субтропических растений</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Руководитель группы, к.б.н.</td>
       <td>
        <b>Лебедева Марии Владимировна</b>
       </td>
       <td>286-12-55
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td></td>
      </tr>

</table>