<table class="contacts-wrap">
 <tbody>
  <tr>
  <td>
   <br/>
   <p>
         <span>Полное наименование:</span>  Институт биохимии и генетики – обособленное структурное подразделение <br>
         Федерального государственного бюджетного научного учреждения <br>
         Уфимского федерального исследовательского центра Российской академии наук<br><br>
         <span>Сокращенное наименование:</span> ИБГ УФИЦ РАН
   </p>
   <p>
      <br>
      Адрес:  450054, Республика Башкортостан, г. Уфа, проспект Октября, д. 71, лит.1Е
      <br>
      Тел.:  (347) 235-60-88
      <br>
          Тел./факс: (347) 235-60-88
          <br>
      e-mail:
      <a href="mailto:molgen@anrb.ru">
		  molgen@anrb.ru
      </a>
      <br>
      <br>
   </p>	

   <table class="contacts-group">
    <tbody>
     <tr bgcolor="#3b70b8">
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Должность, ученая степень, ученое звание
         </strong>
        </span>
       </span>
      </td>
	  
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          ФИО
         </strong>
        </span>
       </span>
      </td>
      
	  <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>

 <tr>
       <td>Ио директора д.б.н., профессор, чл.-корр. РАО</td>
       <td>
        <b>Хуснутдинова Эльза Камилевна</b>
       </td>
       <td>235-61-80
</td>
      </tr>


 <tr>
       <td>Заместитель директора по научной работе д.б.н., доцент, профессор РАО</td>
       <td>
        <b>Карунас Александра Станиславовна</b>
       </td>
       <td>235-60-88
</td>
      </tr>


 <tr>
       <td>Заместитель директора по общим вопросам </td>
       <td>
        <b>Новокшонов Дмитрий Петрович</b>
       </td>
       <td>235-60-88
</td>
      </tr>


 <tr>
       <td>Ученый секретарь д.б.н.</td>
       <td>
        <b>Гималов Фуат Рамазанович</b>
       </td>
       <td>235-60-88
</td>
      </tr>


 <tr>
       <td>Приемная</td>
       <td>
        <b> Карлыханова Елена Георгиевна</b>
       </td>
       <td>235-60-88
</td>
      </tr>


 <tr>
       <td>Главный бухгалтер</td>
       <td>
        <b>Пяткова Эльвира Габдрашитовна</b>
       </td>
       <td>235-54-79
</td>
      </tr>


 <tr>
       <td>Отдел кадров к.б.н.</td>
       <td>
        <b>Сурина Ольга Борисовна</b>
       </td>
       <td>235-60-88
</td>
      </tr>


 <tr>
       <td>Патентовед</td>
       <td>
        <b> Милюкова Ольга Геннадьевна</b>
       </td>
       <td>235-60-88
</td>
      </tr>


 <tr>
       <td>Председатель профкома д.б.н., доцент</td>
       <td>
        <b>Яруллина Любовь Георгиевна</b>
       </td>
       <td>235-60-88
</td>
      </tr>


 <tr>
       <td>Председатель Совета молодых ученых д.б.н.</td>
       <td>
        <b>Кулуев Булат Разяпович</b>
       </td>
       <td>235-60-88
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория биохимии адаптивности насекомых</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией д.б.н., профессор</td>
       <td>
        <b>Николенко Алексей Геннадьевич</b>
       </td>
       <td>235-60-88
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория биохимии иммунитета растений</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией д.б.н., профессор</td>
       <td>
        <b>Максимов Игорь Владимирович</b>
       </td>
       <td>235-60-88
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория молекулярной биологии и нанобиотехнологии</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией д.б.н., доцент</td>
       <td>
        <b>Баймиев Алексей Ханифович</b>
       </td>
       <td>235-60-88
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория молекулярной генетики человека</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией д.б.н., профессор</td>
       <td>
        <b>Хидиятова Ирина Михайловна</b>
       </td>
       <td>235-60-88
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория молекулярных механизмов устойчивости растений к стрессам</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией д.б.н., профессор</td>
       <td>
        <b>Шакирова Фарида Миннихановна</b>
       </td>
       <td>
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория молекулярной фармакологии и иммунологии</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией д.б.н., чл.-корр. РАН</td>
       <td>
        <b>Вахитова Юлия Венеровна</b>
       </td>
       <td>235-60-88
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория физиологической генетики</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией д.б.н., профессор</td>
       <td>
        <b>Мустафина Ольга Евгеньевна</b>
       </td>
       <td>235-60-88
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория физико-химических методов анализа биополимеров</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией к.б.н.</td>
       <td>
        <b>Гарафутдинов Равиль Ринатович</b>
       </td>
       <td>
</td>
      </tr>

 <tr><td><br><br></td></tr>

      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Диссертационный совет</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Председатель д.б.н., профессор</td>
       <td>
        <b>Вахитов Венер Абсатарович</b>
       </td>
       <td>235-60-88
</td>
      </tr>


 <tr>
       <td>Секретарь д.б.н., доцент</td>
       <td>
        <b>Корытина Гульназ Фаритовна</b>
       </td>
       <td>
</td>
      </tr>

 <tr><td><br><br></td></tr>

     <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Вахта</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
     </tr>

 <tr>
       <td>Вахта </td>
       <td>
        <b> </b>
       </td>
       <td>235-62-88
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td></td>
      </tr>
    </tbody>
  </table>
  </td>
 </tr>
 </tbody>
</table>