<table class="contacts-wrap">
 <tr>
  <td>
   <br/>
   <p>
     Федеральное государственное бюджетное учреждение науки ИНСТИТУТ БИОХИМИИ и ГЕНЕТИКИ Уфимского научного центра Российской академии наук
   </p>
   <p>
    <br>
     450054, г. Уфа, проспект Октября, 71
    <br/>
    тел./факс: (347) 235-60-88
    <br/>
    е-mail:
    <a href="mailto:molgen@anrb.ru">
      molgen@anrb.ru
    </a>
    <br>
    <br>
   </p>
   <table class="contacts-group">
    <tbody>
     <tr>
     </tr>
     <tr bgcolor="#3b70b8">
      <td>
      </td>
      <td>
      </td>
      <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td width="380px">
       Директор, д.б.н.
      </td>
      <td>
       <b>
        Вахитов Венер Абсатарович
       </b>
      </td>
      <td>
       235-61-00
      </td>
     </tr>
     <tr>
      <td>
       Заместитель директора по научной работе, д.б.н.
      </td>
      <td>
       <b>
        Чемерис Алексей Викторович
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td>
       Заместитель директора по общим вопросам
      </td>
      <td>
       <b>
        Новокшонов Дмитрий Петрович
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td>
       Ученый секретарь, к.б.н.
      </td>
      <td>
       <b>
        Гималов Фуат Рамазанович
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td>
       Приемная
      </td>
      <td>
       <b>
        Алпатова Татьяна Александровна
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td>
       Главный бухгалтер
      </td>
      <td>
       <b>
        Пяткова Эльвира Габдрашитовна
       </b>
      </td>
      <td>
       235-54-79
      </td>
     </tr>
     <tr>
      <td>
       Отдел кадров, к.б.н.
      </td>
      <td>
       <b>
        Сурина Ольга Борисовна
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td>
       Патентовед
      </td>
      <td>
       <b>
        Милюкова Ольга Геннадьевна
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td>
       Председатель профкома, д.б.н.
      </td>
      <td>
       <b>
        Яруллина Любовь Георгиевна
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td>
       Председатель совета молодых ученых, к.б.н.
      </td>
      <td>
       <b>
        Кулуев Булат Разяпович
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Отдел молекулярной биологии
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий отделом, д.б.н.
      </td>
      <td>
       <b>
        Чемерис Алексей Викторович
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Отдел геномики
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий отделом, д.б.н.
      </td>
      <td>
       <b>
        Хуснутдинова Эльза Камилевна
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Отдел физиологии растений
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий отделом, д.б.н.
      </td>
      <td>
       <b>
        Шакирова Фарида Миннихановна
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория физиологической генетики
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.б.н.
      </td>
      <td>
       <b>
        Мустафина Ольга Евгеньевна
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория молекулярной фармакологии и иммунологии
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.б.н.
      </td>
      <td>
       <b>
        Вахитова Юлия Венеровна
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория биохимии адаптивности насекомых
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.б.н.
      </td>
      <td>
       <b>
        Хайруллин Рамиль Магзинурович
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория биохимии иммунитета растений
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.б.н.
      </td>
      <td>
       <b>
        Максимов Игорь Владимирович
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория физико-химических методов анализа биополимеров
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, к.б.н.
      </td>
      <td>
       <b>
        Гарафутдинов Равиль Ринатович
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Диссертационный совет
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Председатель, д.б.н.
      </td>
      <td>
       <b>
        Вахитов Венер Абсатарович
       </b>
      </td>
      <td>
       235-61-00
      </td>
     </tr>
     <tr>
      <td>
       Секретарь, к.б.н.
      </td>
      <td>
       <b>
        Бикбулатова Светлана Магнитовна
       </b>
      </td>
      <td>
       235-60-88
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Кафедра иностранных языков
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующая кафедрой
      </td>
      <td>
       <b>
        Городецкая Лариса Ивановна
       </b>
      </td>
      <td>
       235-28-79
      </td>
     </tr>
     <tr>
      <td><br><br>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Службы
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Комендант
      </td>
      <td>
       <b>
        Якупова Хамида Галимзяновна
       </b>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
       Вахта
      </td>
      <td>
      </td>
      <td>
       235-62-88
      </td>
     </tr>
     <tr>
      <td>
      </td>
      <td>
      </td>
     </tr>
    </tbody>
   </table>
   <p>
   </p>
  </td>
 </tr>
</table>
