<table class="contacts-wrap">
 <tr>
  <td>
   <br/>
   <p>
         <span>Полное наименование:</span> Уфимский Институт биологии – обособленное структурное подразделение <br>
         Федерального государственного бюджетного научного учреждения <br>
         Уфимского федерального исследовательского центра Российской академии наук.<br><br>
         <span>Сокращенное наименование:</span> УИБ УФИЦ РАН
   </p>
   <p>
      <br>
      Адрес:  450054, Республика Башкортостан, г. Уфа, проспект Октября, д. 69, лит. Е
      <br>
      Тел.:  (347) 235-62-47
      <br>
          Тел./факс: (347) 235-62-47
          <br>
      e-mail:
      <a href="mailto:ib@anrb.ru">
		  ib@anrb.ru
      </a>
      <br>
      <br>
   </p>	

   <table class="contacts-group">
    <tbody>
     <tr bgcolor="#3b70b8">
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Должность, ученая степень, ученое звание
         </strong>
        </span>
       </span>
      </td>
	  
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          ФИО
         </strong>
        </span>
       </span>
      </td>
      
	  <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>

 <tr>
       <td>Ио директора</td>
       <td>
        <b>Мартыненко Василий Борисович</b>
       </td>
       <td> 235-62-47 
</td>
      </tr>


 <tr>
       <td>Заместитель директора по научной работе</td>
       <td>
        <b>Веселов Дмитрий Станиславович</b>
       </td>
       <td> 284-61-65 
</td>
      </tr>


 <tr>
       <td>Заместитель директора по общим вопросам</td>
       <td>
        <b>Махмутов Азат Фагилович</b>
       </td>
       <td> 235-53-62 
</td>
      </tr>


 <tr>
       <td>Ученый секретарь</td>
       <td>
        <b>Уразгильдин Руслан Вилисович</b>
       </td>
       <td> 235-53-62 
</td>
      </tr>


 <tr>
       <td>Приемная</td>
       <td>
        <b>Конесева Светлана Юрьевна</b>
       </td>
       <td> 235-62-47 
</td>
      </tr>


 <tr>
       <td>Главный бухгалтер</td>
       <td>
        <b>Казыева Айгуль Шарифулловна</b>
       </td>
       <td> 235-57-68 
</td>
      </tr>


 <tr>
       <td>Начальник отдела планово-экономической и кадровой работы</td>
       <td>
        <b>Гайнутдинова Эльмира Алибалаевна</b>
       </td>
       <td> 284-61-65 
</td>
      </tr>


 <tr>
       <td>Ведущий специалист по кадрам</td>
       <td>
        <b>Конесева Светлана Юрьевна</b>
       </td>
       <td> 235-62-47 
</td>
      </tr>


 <tr>
       <td>Ведущий специалист по охране труда</td>
       <td>
        <b>Белецкий Евгений Станиславович</b>
       </td>
       <td> 284-31-04 
</td>
      </tr>


 <tr>
       <td>Ведущий юрисконсульт</td>
       <td>
        <b>Белецкий Евгений Станиславович</b>
       </td>
       <td> 284-31-04 
</td>
      </tr>


 <tr>
       <td>Заведующая аспирантурой</td>
       <td>
        <b>Бойко Таисия Филипповна</b>
       </td>
       <td> 235-56-55 
</td>
      </tr>


 <tr>
       <td>Председатель профсоюзной организации</td>
       <td>
        <b>Габбасова Илюся Масгутовна</b>
       </td>
       <td> 89273006534
</td>
      </tr>


 <tr>
       <td>Председатель Совета молодых ученых</td>
       <td>
        <b>Ясаков Тимур Рамилевич</b>
       </td>
       <td> 89371649193
</td>
      </tr>


 <tr>
       <td>Научный руководитель учреждения</td>
       <td>
        <b>Мелентьев Александр Иванович</b>
       </td>
       <td> 235-56-55 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория математической и молекулярной генетики</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Галимзянов Александр Валерьевич</b>
       </td>
       <td> 89174175103
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория прикладной микробиологии</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Галимзянова Наиля Фауатовна</b>
       </td>
       <td> 235-56-55 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория почвоведения</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Габбасова Илюся Масгутовна</b>
       </td>
       <td> 89273006534
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория физиологии растений</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Кудоярова Гюзель Радомесовна</b>
       </td>
       <td> 89191427994 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория биотехнологий</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Логинов Олег Николаевич</b>
       </td>
       <td> 235-57-83 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория лесоведения</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Кулагин Алексей Юрьевич</b>
       </td>
       <td> 89177512673
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория геоботаники и растительных ресурсов</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Федоров Николай Иванович</b>
       </td>
       <td> 89373533896
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Диссертационный совет</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Председатель</td>
       <td>
        <b>Мартыненко Василий Борисович</b>
       </td>
       <td> 235-62-47 
</td>
      </tr>


 <tr>
       <td>Ученый секретарь</td>
       <td>
        <b>Уразгильдин Руслан Вилисович</b>
       </td>
       <td> 235-53-62 
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td></td>
      </tr>

</table>