<table class="contacts-wrap">
<tbody>
 <tr>
  <td>
   <br/>
   <p>
         <span>Полное наименование:</span> Институт этнологических исследований им. Р.Г. Кузеева – обособленное структурное подразделение <br>
         Федерального государственного бюджетного научного учреждения <br>
         Уфимского федерального исследовательского центра Российской академии наук<br><br>
         <span>Сокращенное наименование:</span> ИЭИ УФИЦ РАН
   </p>
   <p>
      <br>
      Адрес:  450077, Республика Башкортостан, г. Уфа, ул. Аксакова, д. 7
      <br>
      Тел.:  (347) 272-29-79
      <br>
          Тел./факс: (347) 272-29-79
          <br>
      e-mail:
      <a href="mailto:254_OO@mail.ru">
		  254_OO@mail.ru
      </a>
      <br>
      <br>
   </p>	

   <table class="contacts-group">
    <tbody>
     <tr bgcolor="#3b70b8">
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Должность, ученая степень, ученое звание
         </strong>
        </span>
       </span>
      </td>
	  
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          ФИО
         </strong>
        </span>
       </span>
      </td>
      
	  <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>

 <tr>
       <td>Ио директора, д.полит.н.</td>
       <td>
        <b>Мухаметзянова-Дуггал Регина Массаровна</b>
       </td>
       <td> 273-70-51 
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td> 272-29-79 
</td>
      </tr>


 <tr>
       <td>Заместитель директора по общим вопросам</td>
       <td>
        <b>Шарипов Ринат Рафисович</b>
       </td>
       <td> 272-34-62 
</td>
      </tr>


 <tr>
       <td>Ученый секретарь</td>
       <td>
        <b>Надыршин Тимур Маратович</b>
       </td>
       <td> 272-35-69 
</td>
      </tr>


 <tr>
       <td>Секретарь, приемная</td>
       <td>
        <b>Шагиева Айгуль Ильвировна</b>
       </td>
       <td> 272-12-05
</td>
      </tr>


 <tr>
       <td>Заведующая общим отделом</td>
       <td>
        <b>Кашаева Наталья Вячеславовна</b>
       </td>
       <td> 272-29-79 
</td>
      </tr>


 <tr>
       <td>Главный бухгалтер</td>
       <td>
        <b>Степанова Елена Анатольевна</b>
       </td>
       <td> 272-06-75 
</td>
      </tr>


 <tr>
       <td>Председатель ВООС ТК</td>
       <td>
        <b>Колонских Александр Геннадьевич</b>
       </td>
       <td> 250-71-20 
</td>
      </tr>


 <tr>
       <td>Председатель профсоюзной ячейки, к.и.н.</td>
       <td>
        <b>Габдрафиков Ильдар Махмутович</b>
       </td>
       <td> 272-29-79 
</td>
      </tr>


 <tr>
       <td>Председатель совета молодых ученых, к.и.н.</td>
       <td>
        <b>Камалеев Эльвир Винерович</b>
       </td>
       <td> 250-71-20 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел этнополитологии </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий отделом, д.и.н., профессор</td>
       <td>
        <b>Сафин Фаиль Габдуллович</b>
       </td>
       <td> 272-29-79 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел археологического наследия Южного Урала </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий отделом, к.и.н.</td>
       <td>
        <b>Бахшиев Илшат Интизам оглы</b>
       </td>
       <td> 250-71-20 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел религиоведения </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий отделом, к.и.н.</td>
       <td>
        <b>Кляшев Александр Николаевич</b>
       </td>
       <td> 272-29-79 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел этнографии</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий отделом, д.филол.н.</td>
       <td>
        <b>Галиева Фарида Габдулхаевна</b>
       </td>
       <td> 272-29-79 
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td></td>
      </tr>
    </tbody>
   </table>
  </td>
 </tr>
</tbody>
</table>