<table class="contacts-wrap">
<tbody>
 <tr>
  <td>
   <br/>
   <p>
         <span>Полное наименование:</span> Институт физики молекул и кристаллов – обособленное структурное подразделение <br>
         Федерального государственного бюджетного научного учреждения <br>
         Уфимского федерального исследовательского центра Российской академии наук<br><br>
         <span>Сокращенное наименование:</span> ИФМК УФИЦ РАН
   </p>
   <p>
      <br>
      Адрес:  450075, Республика Башкортостан, г. Уфа, проспект Октября, д. 151
      <br>
      Тел.:  (347) 292-14-17
      <br>
          Тел./факс: (347) 235-95-22
          <br>
      e-mail:
      <a href="mailto:imcp@anrb.ru, ufa@anrb.ru">
		  imcp@anrb.ru, ufa@anrb.ru
      </a>
      <br>
      <br>
   </p>	

   <table class="contacts-group">
    <tbody>
     <tr bgcolor="#3b70b8">
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Должность, ученая степень, ученое звание
         </strong>
        </span>
       </span>
      </td>
	  
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          ФИО
         </strong>
        </span>
       </span>
      </td>
      
	  <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>

 <tr>
       <td>Ио директора</td>
       <td>
        <b>Пшеничнюк Станислав Анатольевич</b>
       </td>
       <td>  292-14-17 
</td>
      </tr>


 <tr>
       <td>Ученый секретарь</td>
       <td>
        <b>Бунаков Андрей Анатольевич</b>
       </td>
       <td>  292-14-17
</td>
      </tr>


 <tr>
       <td>Контрактный управляющий</td>
       <td>
        <b>Гильманова Резида Байраковна</b>
       </td>
       <td>  292-14-17
</td>
      </tr>


 <tr>
       <td>Отдел кадров</td>
       <td>
        <b>Мокшина Жанна Валерьевна</b>
       </td>
       <td>  292-14-17 
</td>
      </tr>


 <tr>
       <td>Приемная</td>
       <td>
        <b>Мокшина Жанна Валерьевна</b>
       </td>
       <td>  292-14-17 
</td>
      </tr>


 <tr>
       <td>Бухгалтерия, главный бухгалтер</td>
       <td>
        <b>Баландина Наталья Валерьевна</b>
       </td>
       <td>  235-95-22 
</td>
      </tr>


 <tr>
       <td>Аспирантура</td>
       <td>
        <b>Бунаков Андрей Анатольевич</b>
       </td>
       <td>  292-14-17 
</td>
      </tr>


 <tr>
       <td>Председатель профсоюзной организации</td>
       <td>
        <b>Делёв Владимир Алексеевич</b>
       </td>
       <td>  292-14-17 
</td>
      </tr>


 <tr>
       <td>Председатель Совета молодых ученых</td>
       <td>
        <b>Каюмов Ильдар Раилович</b>
       </td>
       <td>  292-14-17 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория антиферромагнетиков и ферритов </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Дорошенко Рюрик Александрович</b>
       </td>
       <td> 284-19-95 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория физики твердого тела </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Скалдин Олег Алексеевич</b>
       </td>
       <td> 292-14-17 
</td>
      </tr>

     <tr>
       <td><br><br>
       </td>
     </tr>
     <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория физики полимеров </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
     </tr>

     <tr>
       <td>Заведующий лабораторией</td>
       <td>
         <b>Лачинов Алексей Николаевич</b>
       </td>
       <td>
       </td>
     </tr>

 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория масс-спектрометрии отрицательных ионов и спектроскопии молекул</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Муфтахов Марс Вилевич</b>
       </td>
       <td> 292-14-17  
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория физики атомных столкновений</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Асфандиаров Наиль Лутфурахманович</b>
       </td>
       <td> 284-19-95 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория теоретической физики </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Гареева Зухра Владимировна</b>
       </td>
       <td> 284-19-95 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Диссертационный совет </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Председатель</td>
       <td>
        <b>Шиховцева Елена Сергеевна</b>
       </td>
       <td> 292-14-17 
</td>
      </tr>


 <tr>
       <td>Ученый секретарь</td>
       <td>
        <b>Назаров Владимир Николаевич</b>
       </td>
       <td> 292-14-17
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td></td>
      </tr>
    </tbody>
    </table>
  </td>
 </tr>
</tbody>
</table>