<table cell-padding="0" style="padding-left:16px;" width="99%">
 <tr>
  <td>
   <table border="0" cellpadding="2" cellspacing="2" width="100%">
   </table>
   <br/>
   <p>
    <b>
     Федеральное государственное бюджетное учреждение науки ИНСТИТУТ ГЕОЛОГИИ Уфимского научного центра Российской академии наук
    </b>
    <br>
     <br>
      450077, г. Уфа, ул. К. Маркса, 16/2
      <br/>
      тел.: (347) 272-82-56
      <br/>
      факс: (347) 273-03-68
      <br/>
      е-mail:
      <a href="mailto:ig@ufaras.ru">
       ig@ufaras.ru
      </a>
     </br>
    </br>
   </p>
   <br/>
   <table border="0" cellpadding="0" cellspacing="0" style="width: 800px;">
    <tbody>
     <tr>
     </tr>
     <tr bgcolor="#3b70b8">
      <td>
      </td>
      <td>
      </td>
      <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td width="380px">
       Директор, член-корреспондент РАН
      </td>
      <td>
       <b>
        Пучков Виктор Николаевич
       </b>
      </td>
      <td>
       272-82-56
      </td>
     </tr>
     <tr>
      <td>
       Заместитель директора по науке, д.г.-м.н.
      </td>
      <td>
       <b>
        Ковалев Сергей Григорьевич
       </b>
      </td>
      <td>
       273-52-29
      </td>
     </tr>
     <tr>
      <td>
       Заместитель директора по общим вопросам
      </td>
      <td>
       <b>
        Сулутдинов Радик Мисбахович
       </b>
      </td>
      <td>
       272-91-83
      </td>
     </tr>
     <tr>
      <td>
       Ученый секретарь
      </td>
      <td>
       <b>
        Шарафутдинова Лариса Алексеевна
       </b>
      </td>
      <td>
       273-51-45
      </td>
     </tr>
     <tr>
      <td>
       Помощник директора
      </td>
      <td>
       <b>
        Киреева Зиля Рашитовна
       </b>
      </td>
      <td>
       272-82-56
      </td>
     </tr>
     <tr>
      <td>
       Ведущий специалист отдела кадров
      </td>
      <td>
       <b>
        Акишина Рима Хамзаевна
       </b>
      </td>
      <td>
       273-28-04
      </td>
     </tr>
     <tr>
      <td>
       Главный бухгалтер
      </td>
      <td>
       <b>
        Абдрахманова Рима Рифовна
       </b>
      </td>
      <td>
       272-25-08
      </td>
     </tr>
     <tr>
      <td>
       Главный инженер
      </td>
      <td>
       <b>
        Шаповалов Анатолий Иванович
       </b>
      </td>
      <td>
       272-91-83
      </td>
     </tr>
     <tr>
      <td>
       Юрист
      </td>
      <td>
       <b>
        Асаева Наталья Николаевна
       </b>
      </td>
      <td>
       272-07-12
      </td>
     </tr>
     <tr>
      <td>
       Председатель профсоюзной организации, к.г.-м.н.
      </td>
      <td>
       <b>
        Якупов Рустем Раулевич
       </b>
      </td>
      <td>
       272-19-73
      </td>
     </tr>
     <tr>
      <td>
       Компьютерная группа
      </td>
      <td>
       <b>
        Бурдаков Александр Владимирович
       </b>
      </td>
      <td>
       273-42-62
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория гидрогеологии и геоэкологии
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.г.-м.н.
      </td>
      <td>
       <b>
        Абдрахманов Рафил Фазылович
       </b>
      </td>
      <td>
       272-82-56
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория стратиграфии палеозоя
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, к.г.-м.н.
      </td>
      <td>
       <b>
        Артюшкова Ольга Викторовна
       </b>
      </td>
      <td>
       272-82-56
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория геофизики
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.ф.-м.н.
      </td>
      <td>
       <b>
        Голованова Инесса Владимировна
       </b>
      </td>
      <td>
       272-82-56
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория геохимии и изотопной геологии
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, к.г.-м.н.
      </td>
      <td>
       <b>
        Горожанин Валерий Михайлович
       </b>
      </td>
      <td>
       272-82-56
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория геологии кайнозоя
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, к.г.-м.н.
      </td>
      <td>
       <b>
        Данукалова Гузель Анваровна
       </b>
      </td>
      <td>
       272-82-56
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория палеовулканологии и металлогении
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, к.г.-м.н.
      </td>
      <td>
       <b>
        Косарев Александр Михайлович
       </b>
      </td>
      <td>
       272-19-73
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория рудных месторождений
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.г.-м.н.
      </td>
      <td>
       <b>
        Сначев Владимир Иванович
       </b>
      </td>
      <td>
       272-19-73
      </td>
     </tr>
     <tr>
      <td>
      </td>
      <td>
      </td>
     </tr>
    </tbody>
   </table>
   <p>
   </p>
  </td>
 </tr>
</table>
