<table class="contacts-wrap">
 <tr>
  <td>
   <br/>
   <p>
         <span>Полное наименование:</span>  Институт геологии – обособленное структурное подразделение <br>
         Федерального государственного бюджетного научного учреждения <br>
         Уфимского федерального исследовательского центра Российской академии наук<br><br>
         <span>Сокращенное наименование:</span> ИГ УФИЦ РАН
   </p>
   <p>
      <br>
      Адрес:  450077, Республика Башкортостан, г. Уфа, ул. К. Маркса, д. 16/2
      <br>
      Тел.:  (347) 272-82-56
      <br>
          Тел./факс: (347) 273-03-68
          <br>
      e-mail:
      <a href="mailto:ig@ufaras.ru">
		  ig@ufaras.ru
      </a>
      <br>
      <br>
   </p>	

   <table class="contacts-group">
    <tbody>
     <tr bgcolor="#3b70b8">
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Должность, ученая степень, ученое звание
         </strong>
        </span>
       </span>
      </td>
	  
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          ФИО
         </strong>
        </span>
       </span>
      </td>
      
	  <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>

 <tr>
       <td>Ио директора</td>
       <td>
        <b>Ковалев Сергей Григорьевич </b>
       </td>
       <td> 272-82-56 
</td>
      </tr>


 <tr>
       <td>Научный руководитель</td>
       <td>
        <b>Пучков Виктор Николаевич</b>
       </td>
       <td> 272-82-56 
</td>
      </tr>


 <tr>
       <td>Заместитель директора по общим вопросам</td>
       <td>
        <b>Асаева Наталья Николаевна</b>
       </td>
       <td> 273-52-29 
</td>
      </tr>


 <tr>
       <td>Ученый секретарь</td>
       <td>
        <b>Шарафутдинова Лариса Алексеевна</b>
       </td>
       <td> 273-51-45 
</td>
      </tr>


 <tr>
       <td>Помощник директора</td>
       <td>
        <b>Киреева Зиля Рашитовна</b>
       </td>
       <td> 272-82-56 
</td>
      </tr>


 <tr>
       <td>Ведущий специалист по кадрам</td>
       <td>
        <b>Акишина Рима Хамзаевна</b>
       </td>
       <td> 273-28-04 
</td>
      </tr>


 <tr>
       <td>Главный бухгалтер</td>
       <td>
        <b>Абдрахманова Рима Рифовна</b>
       </td>
       <td> 272-25-08 
</td>
      </tr>


 <tr>
       <td>Главный специалист по госзакупкам</td>
       <td>
        <b>Антонова Кристина Андреевна</b>
       </td>
       <td> 272-07-12 
</td>
      </tr>


 <tr>
       <td>Председатель профсоюзной организации</td>
       <td>
        <b>Якупов Рустем Раулевич</b>
       </td>
       <td> 272-19-73 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория гидрогеологии и геоэкологии</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Абдрахманов Рафил Фазылович</b>
       </td>
       <td> 272-82-56 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория стратиграфии палеозоя</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Артюшкова Ольга Викторовна</b>
       </td>
       <td> 272-82-56 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория геофизики</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Голованова Инесса Владимировна</b>
       </td>
       <td> 272-82-56 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория геохимии и изотопной геологии</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Горожанин Валерий Михайлович</b>
       </td>
       <td> 272-82-56 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория геологии кайнозоя</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Данукалова Гузель Анваровна</b>
       </td>
       <td> 272-82-56 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория палеовулканологии и металлогении</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Знаменский Сергей Евгеньевич</b>
       </td>
       <td> 272-19-73 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория рудных месторождений</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Сначев Владимир Иванович</b>
       </td>
       <td>272-19-73 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория  геотектоники и региональной геологии</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Ио заведующего лабораторией</td>
       <td>
        <b>Кулагина Елена Ивановна</b>
       </td>
       <td> 272-19-73 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория магматизма и метаморфизма</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Ио заведующего лабораторией</td>
       <td>
        <b>Ковалев Сергей Григорьевич</b>
       </td>
       <td> 272-82-56 </td>
      </tr>

</table>