

<table class="contacts-wrap">
 <tr>
  <td>
   <br/>
   <p>
         <span>Полное наименование:</span>  Ордена Знак Почета Институт истории, языка и литературы – обособленное структурное подразделение <br>
         Федерального государственного бюджетного научного учреждения <br>
         Уфимского федерального исследовательского центра Российской академии наук.<br><br>
         <span>Сокращенное наименование:</span> ИИЯЛ УФИЦ РАН
   </p>
   <p>
      <br>
      Адрес:  450054, Республика Башкортостан, г. Уфа, проспект Октября, д. 71, лит. У, У1
      <br>
      Тел.:  (347) 235-60-50
      <br>
          Тел./факс: (347) 235-60-77
          <br>
      e-mail:
      <a href="mailto:rihll@anrb.ru">
		  rihll@anrb.ru
      </a>
      <br>
      <br>
   </p>	

   <table class="contacts-group">
    <tbody>
     <tr bgcolor="#3b70b8">
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Должность, ученая степень, ученое звание
         </strong>
        </span>
       </span>
      </td>
	  
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          ФИО
         </strong>
        </span>
       </span>
      </td>
      
	  <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>

 <tr>
       <td>Врио директора, д.г.н., профессор</td>
       <td>
        <b>Псянчин Айбулат Валиевич</b>
       </td>
       <td>    235-60-50    </td>
      </tr>


 <tr>
       <td>Ученый секретарь к.и.н.</td>
       <td>
        <b>Казанчиев Александр Дмитриевич</b>
       </td>
       <td>    244-81-25    </td>
      </tr>


 <tr>
       <td>Приемная</td>
       <td>
        <b>Красноперова Нурия Нурулловна</b>
       </td>
       <td>    235-60-50    </td>
      </tr>


 <tr>
       <td>Заместитель директора по общим вопросам, к.соц.н.</td>
       <td>
        <b>Мухтаров Тимур Гаязович</b>
       </td>
       <td>    244-81-94    </td>
      </tr>


 <tr>
       <td>Специалист по персоналу</td>
       <td>
        <b>Султангареева Гузель Варисова</b>
       </td>
       <td>    235-60-77    </td>
      </tr>


 <tr>
       <td>Главный бухгалтер</td>
       <td>
        <b>Иркина Регина Венеровна</b>
       </td>
       <td>    292-14-11    </td>
      </tr>


 <tr>
       <td>Бухгалтерия</td>
       <td>
        <b>---</b>
       </td>
       <td>    292-14-11</td>
      </tr>


 <tr>
       <td>Председатель профсоюза, к.и.н.</td>
       <td>
        <b>Мигранова Эльза Венеровна</b>
       </td>
       <td>    235-60-50    </td>
      </tr>


 <tr>
       <td>Председатель Совета молодых ученых, к.и.н.</td>
       <td>
        <b>Буляков Ильнур Ильдусович</b>
       </td>
       <td>    235-60-50</td>
      </tr>


 <tr>
       <td>Научный руководитель, д.ф.н., профессор</td>
       <td>
        <b>Хисамитдинова Фирдаус Гильмитдиновна</b>
       </td>
       <td>    235-60-50    </td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел языкознания </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий отделом, д.ф.н., профессор</td>
       <td>
        <b>Хисамитдинова Фирдаус Гильмитдиновна</b>
       </td>
       <td> 235-60-50    </td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел литературоведения </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий отделом, д.ф.н., профессор</td>
       <td>
        <b>Надергулов Минлегали Хусаинович</b>
       </td>
       <td> 235-60-50    </td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел археологических исследований </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий отделом, к.и.н.</td>
       <td>
        <b>Овсянников Владимир Владиславович</b>
       </td>
       <td> 235-60-50    </td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел этнологии </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий отделом, д.г.н., профессор</td>
       <td>
        <b>Псянчин Айбулат Валиевич</b>
       </td>
       <td> 235-60-50    </td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел фольклористики </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий отделом, д.ф.н.</td>
       <td>
        <b>Хусаинова Гульнур Равиловна</b>
       </td>
       <td> 235-60-50    </td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел новейшей истории Башкортостана </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий отделом, д.и.н.</td>
       <td>
        <b>Сулейманова Рима Нугамановна</b>
       </td>
       <td>   235-60-50    </td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел истории и истории культуры Башкортостана </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий отделом, к.и.н.</td>
       <td>
        <b>Фархшатов Марсиль Нуруллович</b>
       </td>
       <td>  235-60-50    </td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория лингвистики и информационных технологий </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией, к.ф.н.</td>
       <td>
        <b>Сиразитдинов Зиннур Амирович</b>
       </td>
       <td>    235-60-50    </td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong> Отдел восточных рукописей     </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий отделом, к.и.н.</td>
       <td>
        <b>Салихов Ахат Губаевич</b>
       </td>
       <td>     </td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td></td>
      </tr>

</table>