<table cell-padding="0" style="padding-left:16px;" width="99%">
 <tr>
  <td>
   <table border="0" cellpadding="2" cellspacing="2" width="100%">
   </table>
   <br/>
   <p>
    <b>
     Федеральное государственное бюджетное учреждение науки ИНСТИТУТ ИСТОРИИ, ЯЗЫКА и ЛИТЕРАТУРЫ Уфимского научного центра Российской академии наук
    </b>
    <br>
     <br>
      450054, г. Уфа, проспект Октября, 71
      <br/>
      тел.: (347) 235-60-50; факс: (347) 235-60-77
      <br/>
      е-mail:
      <a href="mailto:rihll@anrb.ru">
       rihll@anrb.ru
      </a>
     </br>
    </br>
   </p>
   <br/>
   <table border="0" cellpadding="0" cellspacing="0" style="width: 800px;">
    <tbody>
     <tr>
     </tr>
     <tr bgcolor="#3b70b8">
      <td>
      </td>
      <td>
      </td>
      <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td width="380px">
       Директор, д.ф.н.
      </td>
      <td>
       <b>
        Хисамитдинова Фирдаус Гильмитдиновна
       </b>
      </td>
      <td>
       235-60-50
      </td>
     </tr>
     <tr>
      <td>
       Заместитель директора по науке, д.г.н.
      </td>
      <td>
       <b>
        Псянчин Айбулат Валиевич
       </b>
      </td>
      <td>
       244-81-94
      </td>
     </tr>
     <tr>
      <td>
       Ученый секретарь, к.и.н.
      </td>
      <td>
       <b>
        Казанчиев Александр Дмитриевич
       </b>
      </td>
      <td>
       244-81-25
      </td>
     </tr>
     <tr>
      <td>
       Приемная
      </td>
      <td>
      </td>
      <td>
       235-60-50
      </td>
     </tr>
     <tr>
      <td>
       Заместитель директора по общим вопросам
      </td>
      <td>
       <b>
        Мухтаров Тимур Гаязович
       </b>
      </td>
      <td>
       244-81-94
      </td>
     </tr>
     <tr>
      <td>
       Главный специалист по кадрам
      </td>
      <td>
       <b>
        Ибрагимова Фатима Арсеновна
       </b>
      </td>
      <td>
       235-60-77
      </td>
     </tr>
     <tr>
      <td>
       Главный бухгалтер
      </td>
      <td>
       <b>
        Иркина Регина Венеровна
       </b>
      </td>
      <td>
       292-14-11
      </td>
     </tr>
     <tr>
      <td>
       Бухгалтерия
      </td>
      <td>
      </td>
      <td>
       292-14-11
      </td>
     </tr>
     <tr>
      <td>
       Председатель профсоюза
      </td>
      <td>
       <b>
        Исянгулов Шамиль Наильевич
       </b>
      </td>
      <td>
       235-60-50
      </td>
     </tr>
     <tr>
      <td>
       Председатель совета молодых ученых
      </td>
      <td>
       <b>
        Маннапов Марсель Муритович
       </b>
      </td>
      <td>
       235-60-50
      </td>
     </tr>
     <tr>
      <td>
       Фонд рукописей
      </td>
      <td>
       <b>
        Аккубеков Рашит Юмадилович
       </b>
      </td>
      <td>
       235-60-50
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Отдел языкознания
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий отделом, д.ф.н.
      </td>
      <td>
       <b>
        Хисамитдинова Фирдаус Гильмитдиновна
       </b>
      </td>
      <td>
       235-60-50
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Отдел литературоведения
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий отделом, д.ф.н.
      </td>
      <td>
       <b>
        Надергулов Минлегали Хусаинович
       </b>
      </td>
      <td>
       235-60-50
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Отдел археологических исследований
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий отделом, к.и.н.
      </td>
      <td>
       <b>
        Овсянников Владимир Владиславович
       </b>
      </td>
      <td>
       235-60-50
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Отдел этнологии
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий отделом, д.г.н.
      </td>
      <td>
       <b>
        Псянчин Айбулат Валиевич
       </b>
      </td>
      <td>
       235-60-50
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Отдел фольклористики
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий отделом, к.ф.н.
      </td>
      <td>
       <b>
        Хусаинова Гульнур Равиловна
       </b>
      </td>
      <td>
       235-60-50
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Отдел новейшей истории Башкортостана
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий отделом, д.и.н.
      </td>
      <td>
       <b>
        Сулейманова Рима Нугамановна
       </b>
      </td>
      <td>
       235-60-50
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Отдел истории и истории культуры Башкортостана
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий отделом, к.и.н.
      </td>
      <td>
       <b>
        Фархшатов Марсиль Нуруллович
       </b>
      </td>
      <td>
       235-60-50
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория лингвистики и информационных технологий
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, к.ф.н.
      </td>
      <td>
       <b>
        Сиразитдинов Зиннур Амирович
       </b>
      </td>
      <td>
       235-60-50
      </td>
     </tr>
     <tr>
      <td>
      </td>
      <td>
      </td>
     </tr>
    </tbody>
   </table>
   <p>
   </p>
  </td>
 </tr>
</table>
