<table cell-padding="0" style="padding-left:16px;" width="99%">
 <tr>
  <td>
   <table border="0" cellpadding="2" cellspacing="2" width="100%">
   </table>
   <br/>
   <p>
    <b>
     Федеральное государственное бюджетное учреждение науки Институт математики с вычислительным центром Уфимского научного центра Российской академии наук
    </b>
   </p>
   <p>
    450008, г. Уфа, ул. Чернышевского, 112
    <br>
     тел.: (347) 272-59-36; 273-33-42;
     <br>
      факс: (347) 272-59-36
      <br/>
      e-mail:
      <a href="mailto:shaig@anrb.ru">
       shaig@anrb.ru
      </a>
     </br>
    </br>
   </p>
   <table border="0" cellpadding="0" cellspacing="0" style="width: 800px;">
    <tbody>
     <tr>
     </tr>
     <tr bgcolor="#3b70b8">
      <td>
      </td>
      <td>
      </td>
      <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Директор, член-корреспондент РАН
      </td>
      <td>
       <b>
        Напалков Валентин Васильевич
       </b>
      </td>
      <td>
       272-59-36
      </td>
     </tr>
     <tr>
      <td>
       Ученый секретарь, к.ф.-м.н.
      </td>
      <td>
       <b>
        Шайгарданов Юрий Закирович
       </b>
      </td>
      <td>
       273-33-42
      </td>
     </tr>
     <tr>
      <td>
       Заместитель директора по общим вопросам
      </td>
      <td>
       <b>
        Калугин Валерий Васильевич
       </b>
      </td>
      <td>
       272-65-81
      </td>
     </tr>
     <tr>
      <td>
       Секретарь
      </td>
      <td>
       <b>
        Ардашова Галина Васильевна
       </b>
      </td>
      <td>
       272-59-36, 273-33-42
      </td>
     </tr>
     <tr>
      <td>
       Специалист по кадрам
      </td>
      <td>
       <b>
        Сабирова Лилия Фаузелькабировна
       </b>
      </td>
      <td>
       273-33-42
      </td>
     </tr>
     <tr>
      <td>
       Главный бухгалтер
      </td>
      <td>
       <b>
        Иванова Ирина Дмитриевна
       </b>
      </td>
      <td>
       273-31-03
      </td>
     </tr>
     <tr>
      <td>
       Главный экономист
      </td>
      <td>
       <b>
        Всесвятская Евгения Михайловна
       </b>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
       Председатель профсоюзного комитета, д.ф.-м.н.
      </td>
      <td>
       <b>
        Голичев Иосиф Иосифович
       </b>
      </td>
      <td>
       273-33-42
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td width="380px">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Отдел теории функций
         </strong>
        </span>
       </span>
      </td>
      <td>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий отделом, член-корреспондент РАН
      </td>
      <td>
       <b>
        Напалков Валентин Васильевич
       </b>
      </td>
      <td>
       272-59-36
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td width="380px">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Отдел комплексного анализа
         </strong>
        </span>
       </span>
      </td>
      <td>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий отделом, д.ф.-м.н.
      </td>
      <td>
       <b>
        Кривошеев Александр Сергеевич
       </b>
      </td>
      <td>
       273-33-42
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td width="380px">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Отдел дифференциальных уравнений
         </strong>
        </span>
       </span>
      </td>
      <td>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий отделом, д.ф.-м.н.
      </td>
      <td>
       <b>
        Калякин Леонид Анатольевич
       </b>
      </td>
      <td>
       273-33-42
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td width="380px">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Отдел математической физики
         </strong>
        </span>
       </span>
      </td>
      <td>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий отделом, д.ф.-м.н.
      </td>
      <td>
       <b>
        Новокшенов Виктор Юрьевич
       </b>
      </td>
      <td>
       273-33-42
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td width="380px">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Отдел вычислительной математики
         </strong>
        </span>
       </span>
      </td>
      <td>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий отделом, д.ф.-м.н.
      </td>
      <td>
       <b>
        Ильясов Явдат Шавкатович
       </b>
      </td>
      <td>
       273-34-12, 273-33-42
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td width="380px">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Научно-учебный комплекс
         </strong>
        </span>
       </span>
      </td>
      <td>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
       Инженер-программист
      </td>
      <td>
       <b>
        Денисова Елена Леонидовна
       </b>
      </td>
      <td>
       273-33-42
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td width="380px">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Диссертационный совет
         </strong>
        </span>
       </span>
      </td>
      <td>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
       Председатель, член-корреспондент РАН
      </td>
      <td>
       <b>
        Напалков Валентин Васильевич
       </b>
      </td>
      <td>
       272-59-36
      </td>
     </tr>
     <tr>
      <td>
       Ученый секретарь, к.ф.-м.н.
      </td>
      <td>
       <b>
        Попёнов Сергей Викторович
       </b>
      </td>
      <td>
       273-33-42
      </td>
     </tr>
     <tr>
      <td>
      </td>
      <td>
      </td>
     </tr>
    </tbody>
   </table>
   <p>
   </p>
  </td>
 </tr>
</table>
