

<table class="contacts-wrap">
 <tr>
  <td>
   <br/>
   <p>
         <span>Полное наименование:</span> Институт математики с вычислительным центром – обособленное структурное подразделение<br>
         Федерального государственного бюджетного научного учреждения <br>
         Уфимского федерального исследовательского центра Российской академии наук<br><br>
         <span>Сокращенное наименование:</span> ИМВЦ УФИЦ РАН
   </p>
   <p>
      <br>
      Адрес:  450008, Республика Башкортостан, г. Уфа, ул. Чернышевского, д. 112
      <br>
      Тел.:  (347) 272-59-36; 273-33-42
      <br>
          Тел./факс: (347) 272-59-36
          <br>
      e-mail:
      <a href="mailto:im@matem.anrb.ru">
		  im@matem.anrb.ru
      </a>
      <br>
      <br>
   </p>	

   <table class="contacts-group">
    <tbody>
     <tr bgcolor="#3b70b8">
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Должность, ученая степень, ученое звание
         </strong>
        </span>
       </span>
      </td>
	  
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          ФИО
         </strong>
        </span>
       </span>
      </td>
      
	  <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>

 <tr>
       <td>Ио директора, д.ф.-м.н.</td>
       <td>
        <b>Мусин Ильдар Хамитович</b>
       </td>
       <td>272-59-36 
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td>273-33-42
</td>
      </tr>


 <tr>
       <td>Учёный секретарь, к.ф.-м.н.</td>
       <td>
        <b>Шайгарданов Юрий Закирович</b>
       </td>
       <td>273-33-42 
</td>
      </tr>


 <tr>
       <td>Заместитель директора по научной работе, д.ф.-м.н., г.н.с.</td>
       <td>
        <b>Юлмухаметов Ринад Салаватович</b>
       </td>
       <td>
</td>
      </tr>


 <tr>
       <td>Заместитель директора по общим вопросам</td>
       <td>
        <b>Калугин Валерий Васильевич</b>
       </td>
       <td>272-65-81 
</td>
      </tr>


 <tr>
       <td>Приёмная</td>
       <td>
        <b>Ардашова Галина Васильевна</b>
       </td>
       <td>272-59-36,  
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td>273-33-42 
</td>
      </tr>


 <tr>
       <td>Специалист по кадрам</td>
       <td>
        <b>Сабирова Лилия Фаузелкабировна</b>
       </td>
       <td>273-33-42 
</td>
      </tr>


 <tr>
       <td>Главный бухгалтер</td>
       <td>
        <b>Осипенко Екатерина Владимировна</b>
       </td>
       <td>273-31-03 
</td>
      </tr>


 <tr>
       <td>Ведущий экономист</td>
       <td>
        <b>Всесвятская Евгения Михайловна</b>
       </td>
       <td>  
</td>
      </tr>


 <tr>
       <td>Председатель профсоюзного комитета, д.ф.-м.н.</td>
       <td>
        <b>Мукминов Фарит Хамзаевич</b>
       </td>
       <td>273-33-42 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел теории функций и функционального анализа</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Ио заведующего отделом, д.ф.-м.н., в.н.с.</td>
       <td>
        <b>Гайсин Ахтяр Магазович</b>
       </td>
       <td> 273-33-42 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел дифференциальных уравнений </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Ио заведующего отделом, в.н.с., д.ф.-м.н.</td>
       <td>
        <b>Борисов Денис Иванович</b>
       </td>
       <td> 273-33-42 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел математической физики </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>и.о. заведующего отделом, в.н.с., д.ф.-м.н.</td>
       <td>
        <b>Хабибуллин Исмагил Талгатович</b>
       </td>
       <td> 273-33-42 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел вычислительной математики </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Ио заведующего отделом, д.ф.-м.н., в.н.с.</td>
       <td>
        <b>Ильясов Явдат Талгатович</b>
       </td>
       <td>  273-33-42 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Научно-учебный комплекс </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Инженер-программист</td>
       <td>
        <b>Денисова Елена Леонидовна</b>
       </td>
       <td> 273-33-42 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Диссертационный совет </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Председатель, д.ф.-м.н.</td>
       <td>
        <b>Напалков Валентин Васильевич</b>
       </td>
       <td> 273-33-42 
</td>
      </tr>


 <tr>
       <td>Ученый секретарь, к.ф.-м.н.</td>
       <td>
        <b>Попёнов Сергей Викторович</b>
       </td>
       <td> 273-33-42 
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td></td>
      </tr>

</table>