<table cell-padding="0" style="padding-left:16px;" width="99%">
 <tr>
  <td>
   <table border="0" cellpadding="2" cellspacing="2" width="100%">
   </table>
   <br/>
   <p>
    <b>
     Федеральное государственное бюджетное учреждение науки Институт нефтехимии и катализа Российской академии наук
    </b>
    <br>
     <br>
      450075, г. Уфа, проспект Октября, 141
      <br/>
      тел./факс: (347) 284-27-50
      <br/>
      е-mail:
      <a href="mailto:ink@anrb.ru">
       ink@anrb.ru
      </a>
     </br>
    </br>
   </p>
   <table border="0" cellpadding="0" cellspacing="0" style="width: 800px;">
    <tbody>
     <tr>
     </tr>
     <tr bgcolor="#3b70b8">
      <td>
      </td>
      <td>
      </td>
      <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td width="380px">
       Директор, член-корреспондент РАН
      </td>
      <td>
       <b>
        Джемилев Усеин Меметович
       </b>
      </td>
      <td>
       284-27-50, 284-27-92
      </td>
     </tr>
     <tr>
      <td>
       Заместитель директора по науке, д.х.н.
      </td>
      <td>
       <b>
        Хуснутдинов Равил Исмагилович
       </b>
      </td>
      <td>
       284-22-41
      </td>
     </tr>
     <tr>
      <td>
       Заместитель директора по науке, к.х.н.
      </td>
      <td>
       <b>
        Галяутдинов Ильгиз Васимович
       </b>
      </td>
      <td>
       284-27-50
      </td>
     </tr>
     <tr>
      <td>
       Ученый секретарь, к.х.н.
      </td>
      <td>
       <b>
        Спивак Анна Юльевна
       </b>
      </td>
      <td>
       284-35-44
      </td>
     </tr>
     <tr>
      <td>
       Секретарь
      </td>
      <td>
       <b>
        Луговая Ольга Ильинична
       </b>
      </td>
      <td>
       284-27-50
      </td>
     </tr>
     <tr>
      <td>
       Отдел кадров
      </td>
      <td>
       <b>
        Задворнева Валентина Георгиевна
       </b>
      </td>
      <td>
       284-22-29
      </td>
     </tr>
     <tr>
      <td>
       Главный бухгалтер
      </td>
      <td>
       <b>
        Бакалдина Лидия Ивановна
       </b>
      </td>
      <td>
       284-35-43
      </td>
     </tr>
     <tr>
      <td>
       Главный инженер
      </td>
      <td>
       <b>
        Сарычев Александр Борисович
       </b>
      </td>
      <td>
       284-22-49
      </td>
     </tr>
     <tr>
      <td>
       Юрист
      </td>
      <td>
       <b>
        Головко Наталья Львовна
       </b>
      </td>
      <td>
       284-35-43
      </td>
     </tr>
     <tr>
      <td>
       Патентный отдел, д.х.н.
      </td>
      <td>
       <b>
        Григорьева Нелля Геннадьевна
       </b>
      </td>
      <td>
       284-22-38
      </td>
     </tr>
     <tr>
      <td>
       Аспирантура, к.х.н.
      </td>
      <td>
       <b>
        Джемилева Галина Аркадьевна
       </b>
      </td>
      <td>
       284-22-29
      </td>
     </tr>
     <tr>
      <td>
       Отдел охраны труда
      </td>
      <td>
       <b>
        Матвеева Валентина Владимировна
       </b>
      </td>
      <td>
       284-22-38
      </td>
     </tr>
     <tr>
      <td>
       Председатель профсоюзной организации, к.х.н.
      </td>
      <td>
       <b>
        Хафизова Лейла Османовна
       </b>
      </td>
      <td>
       284-27-50
      </td>
     </tr>
     <tr>
      <td>
       Председатель совета молодых ученых, к.ф.-м.н.
      </td>
      <td>
       <b>
        Тухбатуллин Адис Анисович
       </b>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория металлокомплексного катализа
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Зав. лабораторией, член-корреспондент РАН
      </td>
      <td>
       <b>
        Джемилев Усеин Меметович
       </b>
      </td>
      <td>
       284-27-92, 284-27-50
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория химии углеводородов
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Хуснутдинов Равил Исмагилович
       </b>
      </td>
      <td>
       284-22-41
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория органического синтеза
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Одиноков Виктор Николаевич
       </b>
      </td>
      <td>
       284-35-21
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория физико-химических проблем
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Булгаков Рамиль Гарифович
       </b>
      </td>
      <td>
       284-22-36
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория химии высоких энергий и катализа
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Шарипов Глюс Лябибович
       </b>
      </td>
      <td>
       284-22-36
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория структурной химии
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Халилов Леонард Мухибович
       </b>
      </td>
      <td>
       284-35-27
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория гетероатомных соединений
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Ибрагимов Асхат Габдрахманович
       </b>
      </td>
      <td>
       284-35-27
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория приготовления катализаторов
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Кутепов Борис Иванович
       </b>
      </td>
      <td>
       284-22-27
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория математической химии
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.ф-м.н.
      </td>
      <td>
       <b>
        Спивак Семен Израилевич
       </b>
      </td>
      <td>
       284-35-44, 229-96-35
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория хроматографии
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, к.х.н.
      </td>
      <td>
       <b>
        Муслимов Забир Сабирович
       </b>
      </td>
      <td>
       284-27-50
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Диссертационный совет
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Председатель, член-корреспондент РАН, д.х.н.
      </td>
      <td>
       <b>
        Джемилев Усеин Меметович
       </b>
      </td>
      <td>
       284-27-92, 284-27-50
      </td>
     </tr>
     <tr>
      <td>
       Ученый секретарь, д.х.н.
      </td>
      <td>
       <b>
        Шарипов Глюс Лябибович
       </b>
      </td>
      <td>
       284-22-36
      </td>
     </tr>
     <tr>
      <td>
      </td>
      <td>
      </td>
     </tr>
    </tbody>
   </table>
   <p>
   </p>
  </td>
 </tr>
</table>
