

<table class="contacts-wrap">
 <tr>
  <td>
   <br/>
   <p>
         <span>Полное наименование:</span>  Институт нефтехимии и катализа – обособленное структурное подразделение <br>
         Федерального государственного бюджетного научного учреждения <br>
         Уфимского федерального исследовательского центра Российской академии наук<br><br>
         <span>Сокращенное наименование:</span> ИНК УФИЦ РАН
   </p>
   <p>
      <br>
      Адрес:  450075, Республика Башкортостан, г. Уфа, проспект Октября, д. 141
      <br>
      Тел.:  Тел./факс: (347) 284-27-50
      <br>
          Тел./факс: Тел./факс: (347) 284-27-50
          <br>
      e-mail:
      <a href="mailto:ink@anrb.ru">
		  ink@anrb.ru
      </a>
      <br>
      <br>
   </p>	

   <table class="contacts-group">
    <tbody>
     <tr bgcolor="#3b70b8">
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Должность, ученая степень, ученое звание
         </strong>
        </span>
       </span>
      </td>
	  
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          ФИО
         </strong>
        </span>
       </span>
      </td>
      
	  <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>

 <tr>
       <td>Ио директора д.х.н., профессор РАН </td>
       <td>
        <b>Владимир Анатольевич Дьяконов</b>
       </td>
       <td>284-27-50
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td>284-22-41
</td>
      </tr>


 <tr>
       <td>Научный руководитель чл.-корр. РАН </td>
       <td>
        <b>Усеин Меметович Джемилев</b>
       </td>
       <td>284-27-50
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td>284-27-92
</td>
      </tr>


 <tr>
       <td>Заместитель директора по научной работе </td>
       <td>
        <b>Равил Исмагилович Хуснутдинов</b>
       </td>
       <td>284-27-50
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td>284-22-41
</td>
      </tr>


 <tr>
       <td>Заместитель директора по научной работе</td>
       <td>
        <b>Ильгиз Васимович Галяутдинов</b>
       </td>
       <td>284-27-50
</td>
      </tr>


 <tr>
       <td>к.х.н., доцент </td>
       <td>
        <b>  </b>
       </td>
       <td>
</td>
      </tr>


 <tr>
       <td>Учёный секретарь к.х.н., с.н.с. </td>
       <td>
        <b>Анна Юльевна Спивак</b>
       </td>
       <td>284-35-44
</td>
      </tr>


 <tr>
       <td>Секретарь </td>
       <td>
        <b>Ольга Ильинична Луговая</b>
       </td>
       <td>284-27-50
</td>
      </tr>


 <tr>
       <td>Отдел кадров </td>
       <td>
        <b>Наталья Вадимовна Фомина</b>
       </td>
       <td>284-22-29
</td>
      </tr>


 <tr>
       <td>Главный бухгалтер </td>
       <td>
        <b>Лидия Ивановна Бакалдина</b>
       </td>
       <td>284-35-43
</td>
      </tr>


 <tr>
       <td>Главный инженер</td>
       <td>
        <b>Александр Борисович Сарычев</b>
       </td>
       <td>284-22-49
</td>
      </tr>


 <tr>
       <td>Заведующий аспирантурой к.х.н. </td>
       <td>
        <b>Галина Аркадьевна Джемилева</b>
       </td>
       <td>284-22-29
</td>
      </tr>


 <tr>
       <td>Отдел охраны труда к.х.н. </td>
       <td>
        <b>Айслу Мухаматзакировна Шайнурова</b>
       </td>
       <td>284-22-38
</td>
      </tr>


 <tr>
       <td>Председатель профсоюзной организации</td>
       <td>
        <b>Лейла Османовна Хафизова</b>
       </td>
       <td>284-27-50
</td>
      </tr>


 <tr>
       <td>к.х.н., доцент </td>
       <td>
        <b>  </b>
       </td>
       <td>
</td>
      </tr>


 <tr>
       <td>Председатель Совета молодых ученых к.ф-м.н., н.с. </td>
       <td>
        <b>Адис Анисович Тухбатуллин</b>
       </td>
       <td>284-27-50
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория каталитического синтеза</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Владимир Анатольевич Дьяконов</b>
       </td>
       <td>284-27-50
</td>
      </tr>


 <tr>
       <td>д.х.н., профессор РАН</td>
       <td>
        <b> </b>
       </td>
       <td>284-22-41
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория химии углеводородов</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Равил Исмагилович Хуснутдинов</b>
       </td>
       <td>284-22-41
</td>
      </tr>


 <tr>
       <td>д.х.н., профессор</td>
       <td>
        <b> </b>
       </td>
       <td>
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория органического синтеза</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Людмила Вячеславовна Парфёнова</b>
       </td>
       <td>284-27-50
</td>
      </tr>


 <tr>
       <td>д.х.н., доцент</td>
       <td>
        <b> </b>
       </td>
       <td>
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория химии высоких энергий и катализа</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Глюс Лябибович Шарипов</b>
       </td>
       <td>284-22-36
</td>
      </tr>


 <tr>
       <td>д.х.н., профессор</td>
       <td>
        <b> </b>
       </td>
       <td>
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория структурной химии</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Леонард Мухибович Халилов</b>
       </td>
       <td>284-35-27
</td>
      </tr>


 <tr>
       <td>д.х.н., профессор</td>
       <td>
        <b> </b>
       </td>
       <td>
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория гетероатомных соединений</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Асхат Габдрахманович Ибрагимов</b>
       </td>
       <td>284-35-27
</td>
      </tr>


 <tr>
       <td>д.х.н., профессор</td>
       <td>
        <b> </b>
       </td>
       <td>
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория приготовления катализаторов</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Борис Иванович Кутепов</b>
       </td>
       <td>284-22-27
</td>
      </tr>


 <tr>
       <td>д.х.н., профессор</td>
       <td>
        <b> </b>
       </td>
       <td>
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория математической химии</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Семён Израилевич Спивак</b>
       </td>
       <td>284-35-44
</td>
      </tr>


 <tr>
       <td>д.ф-м.н., профессор</td>
       <td>
        <b> </b>
       </td>
       <td>229-96-35
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория хроматографии</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией </td>
       <td>
        <b>Забир Сабирович Муслимов</b>
       </td>
       <td>284-27-50
</td>
      </tr>


 <tr>
       <td>к.х.н. ,с.н.с.</td>
       <td>
        <b> </b>
       </td>
       <td>
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Диссертационный совет</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Председатель</td>
       <td>
        <b>Усеин Меметович Джемилев</b>
       </td>
       <td>284-27-92
</td>
      </tr>


 <tr>
       <td>член-корр. РАН</td>
       <td>
        <b> </b>
       </td>
       <td>284-27-50
</td>
      </tr>


 <tr>
       <td>Учёный секретарь</td>
       <td>
        <b>Глюс Лябибович Шарипов</b>
       </td>
       <td>284-22-36
</td>
      </tr>


 <tr>
       <td>д.х.н., профессор </td>
       <td>
        <b> </b>
       </td>
       <td>
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td></td>
      </tr>

</table>