<table cell-padding="0" style="padding-left:16px;" width="99%">
 <tr>
  <td>
   <table border="0" cellpadding="2" cellspacing="2" width="100%">
   </table>
   <br/>
   <p>
    <b>
     Федеральное государственное бюджетное учреждение науки ИНСТИТУТ ОРГАНИЧЕСКОЙ ХИМИИ Уфимского научного центра Российской академии наук
    </b>
    <br>
     <br>
      450054, г. Уфа, проспект Октября, 71
      <br/>
      тел. (347) 235-55-60; тел./факс: (347) 235-60-66
      <br/>
      е-mail:
      <a href="mailto:chemorg@anrb.ru">
       chemorg@anrb.ru
      </a>
     </br>
    </br>
   </p>
   <table border="0" cellpadding="0" cellspacing="0" style="width: 820px;">
    <tbody>
     <tr>
     </tr>
     <tr bgcolor="#3b70b8">
      <td>
      </td>
      <td>
      </td>
      <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td width="380px">
       Директор, академик
      </td>
      <td>
       <b>
        Юнусов Марат Сабирович
       </b>
      </td>
      <td>
       235-55-60, 235-60-66, 235-58-83
      </td>
     </tr>
     <tr>
      <td>
       Заместитель директора по науке, д.х.н.
      </td>
      <td>
       <b>
        Сафиуллин Рустам Лутфуллович
       </b>
      </td>
      <td>
       235-55-60, 235-60-66, 235-62-00
      </td>
     </tr>
     <tr>
      <td>
       Заместитель директора по науке, к.х.н
      </td>
      <td>
       <b>
        Хуснутдинов Раиль Альтафович
       </b>
      </td>
      <td>
       235-55-60, 235-60-66
      </td>
     </tr>
     <tr>
      <td>
       Ученый секретарь, д.х.н.
      </td>
      <td>
       <b>
        Валеев Фарид Абдуллович
       </b>
      </td>
      <td>
       235-57-11
      </td>
     </tr>
     <tr>
      <td>
       Приемная
      </td>
      <td>
       <b>
       </b>
      </td>
      <td>
       235-55-60, 235-60-66
      </td>
     </tr>
     <tr>
      <td>
       Главный инженер
      </td>
      <td>
       <b>
        Асибаков Арслангалей Гадеевич
       </b>
      </td>
      <td>
       284-69-34
      </td>
     </tr>
     <tr>
      <td>
       Начальник отдела кадров
      </td>
      <td>
       <b>
        Козлова Ольга Ивановна
       </b>
      </td>
      <td>
       235-55-60
      </td>
     </tr>
     <tr>
      <td>
       Главный бухгалтер
      </td>
      <td>
       <b>
        Гайсина Лиля Валирахмановна
       </b>
      </td>
      <td>
       235-60-47
      </td>
     </tr>
     <tr>
      <td>
       Начальник планово-экономического отдела
      </td>
      <td>
       <b>
        Могильникова Татьяна Васильевна
       </b>
      </td>
      <td>
       292-14-18
      </td>
     </tr>
     <tr>
      <td>
       Председатель профсоюза
      </td>
      <td>
       <b>
        Гилева Наталья Георгиевна
       </b>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
       Председатель совета молодых ученых
      </td>
      <td>
       <b>
        Лобов Александр Николаевич
       </b>
      </td>
      <td>
       235-61-19
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория биоорганической химии
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, академик
      </td>
      <td>
       <b>
        Юнусов Марат Сабирович
       </b>
      </td>
      <td>
       235-52-88
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория металлорганического синтеза и катализа
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Докичев Владимир Анатольевич
       </b>
      </td>
      <td>
       235-56-77
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория биорегуляторов насекомых
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Ишмуратов Гумер Юсупович
       </b>
      </td>
      <td>
       235-58-01
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория синтеза низкомолекулярных биорегуляторов
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Мифтахов Мансур Сагарьярович
       </b>
      </td>
      <td>
       235-58-47
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория фармакофорных циклических систем
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Валеев Фарид Абдуллович
       </b>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория стереорегулярных полимеров
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Колесов Сергей Викторович
       </b>
      </td>
      <td>
       235-61-66
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория химической кинетики
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Сафиуллин Рустам Лутфуллович
       </b>
      </td>
      <td>
       235-54-96
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория химической физики
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Хурсан Сергей Леонидович
       </b>
      </td>
      <td>
       235-61-11
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория окислительных процессов
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующая лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Кабальнова Наталья Нурулловна
       </b>
      </td>
      <td>
       235-60-11
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория электрохимии
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Колосницын Владимир Сергеевич
       </b>
      </td>
      <td>
       235-58-00
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория координационной химии
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Муринов Юрий Ильич
       </b>
      </td>
      <td>
       235-54-00
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория функциональных полимеров
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, д.х.н.
      </td>
      <td>
       <b>
        Крайкин Владимир Александрович
       </b>
      </td>
      <td>
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Лаборатория физико-химических методов анализа
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Заведующий лабораторией, к.х.н.
      </td>
      <td>
       <b>
        Спирихин Леонид Васильевич
       </b>
      </td>
      <td>
       235-61-19
      </td>
     </tr>
     <tr>
      <td>
      </td>
     </tr>
     <tr bgcolor="#3b70b8">
      <td colspan="3">
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Диссертационный совет
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td>
       Председатель, академик
      </td>
      <td>
       <b>
        Юнусов Марат Сабирович
       </b>
      </td>
      <td>
       235-55-60, 235-60-66
      </td>
     </tr>
     <tr>
      <td>
       Ученый секретарь, д.х.н.
      </td>
      <td>
       <b>
        Валеев Фарид Абдуллович
       </b>
      </td>
      <td>
       235-57-11
      </td>
     </tr>
     <tr>
      <td>
       Старший научный сотрудник, к.х.н.
      </td>
      <td>
       <b>
        Власова Наталья Михайловна
       </b>
      </td>
      <td>
       235-55-60
      </td>
     </tr>
     <tr>
      <td>
      </td>
      <td>
      </td>
     </tr>
    </tbody>
   </table>
   <p>
   </p>
  </td>
 </tr>
</table>
