<table class="contacts-wrap">
<tbody>
 <tr>
  <td>
   <br/>
   <p>
         <span>Полное наименование:</span> Институт социально-экономических исследований – обособленное структурное подразделение <br>
         Федерального государственного бюджетного научного учреждения <br>
         Уфимского федерального исследовательского центра Российской академии наук<br><br>
         <span>Сокращенное наименование:</span> ИСЭИ УФИЦ РАН
   </p>
   <p>
      <br>
      Адрес:  450054, Республика Башкортостан, г. Уфа, проспект Октября, д. 69, лит. П
      <br>
      Тел.:  (347) 235-55-11, 235-55-33
      <br>
          Тел./факс: (347) 235-55-44
          <br>
      e-mail:
      <a href="mailto:isei@anrb.ru">
		  isei@anrb.ru
      </a>
      <br>
      <br>
   </p>	

   <table class="contacts-group">
    <tbody>
     <tr bgcolor="#3b70b8">
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Должность, ученая степень, ученое звание
         </strong>
        </span>
       </span>
      </td>
	  
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          ФИО
         </strong>
        </span>
       </span>
      </td>
      
	  <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>

 <tr>
       <td>Ио директора, д.э.н., проф.</td>
       <td>
        <b>Гайнанов Дамир Ахнафович</b>
       </td>
       <td> 235-55-11 
</td>
      </tr>


 <tr>
       <td>Заместитель директора по общим вопросам</td>
       <td>
        <b>Медведев Андрей Анатольевич</b>
       </td>
       <td> 241-46-55 
</td>
      </tr>


 <tr>
       <td>Ученый секретарь, к.э.н.</td>
       <td>
        <b>Кириллова Светлана Александровна</b>
       </td>
       <td> 278-84-76 
</td>
      </tr>


 <tr>
       <td>Приемная</td>
       <td>
        <b>Закирова Лиана Рафилевна</b>
       </td>
       <td> 235-55-33
</td>
      </tr>


 <tr>
       <td>Отдел кадров</td>
       <td>
        <b>Закирова Лиана Рафилевна</b>
       </td>
       <td> 235-55-33
</td>
      </tr>


 <tr>
       <td>Главный бухгалтер</td>
       <td>
        <b>Насибуллина Эльза Гайнильгазиевна</b>
       </td>
       <td> 241-46-44 
</td>
      </tr>


 <tr>
       <td>Председатель профсоюзной организации</td>
       <td>
        <b>Алтуфьева Татьяна Юрьевна</b>
       </td>
       <td> 235-55-33 
</td>
      </tr>


 <tr>
       <td>Председатель совета молодых ученых, к.э.н.</td>
       <td>
        <b>Орешников Владимир Владимирович</b>
       </td>
       <td> 235-55-33 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Сектор экономики и управления развитием территорий</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий сектором, д.э.н.</td>
       <td>
        <b>Гатауллин Ринат Фазлтдинович</b>
       </td>
       <td> 235-55-33 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Сектор экономико-математического моделирования</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий сектором, к.т.н.</td>
       <td>
        <b>Низамутдинов Марсель Малихович</b>
       </td>
       <td> 235-54-55 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Сектор региональных финансов и бюджетно-налоговой политики</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующая сектором, д.э.н.</td>
       <td>
        <b>Климова Нина Ивановна</b>
       </td>
       <td> 235-55-33 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Сектор экономической безопасности</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий сектором, к.э.н.</td>
       <td>
        <b>Печаткин Виталий Валентинович</b>
       </td>
       <td> 235-55-33 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Сектор социально-политических исследований</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий сектором, к.соц.н.</td>
       <td>
        <b>Садыков Рамиль Мидхатович</b>
       </td>
       <td> 235-55-33 
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td></td>
      </tr>

    </tbody>
   </table>
  </td>
 </tr>
</tbody>
</table>