<table cell-padding="0" style="padding-left:16px;" width="99%">
 <tr>
  <td>
   <table border="0" cellpadding="2" cellspacing="2" width="100%">
   </table>
   <br/>
   <p>
    <b>
     Федеральное государственное бюджетное учреждение здравоохранения Поликлиника Уфимского научного центра Российской академии наук
    </b>
    <br>
     <br>
      г.Уфа, пр. Октября, д. 71
      <br/>
      Тел./факс: (347)235-44-44
      <br/>
      е-mail:
      <a href="mailto:poly@anrb.ru">
       poly@anrb.ru
      </a>
     </br>
    </br>
   </p>
   <br/>
   <table border="0" cellpadding="0" cellspacing="0" style="width: 800px;">
    <tbody>
     <tr>
     </tr>
     <tr bgcolor="#3b70b8">
      <td>
      </td>
      <td>
      </td>
      <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>
     <tr>
      <td width="380px">
       Главный врач, к.м.н.
      </td>
      <td>
       <b>
        Попов Петр Владимирович
       </b>
      </td>
      <td>
       235-44-44
      </td>
     </tr>
     <tr>
      <td>
       Регистратура
      </td>
      <td>
      </td>
      <td>
       235-62-22
      </td>
     </tr>
     <tr>
      <td>
       Главный бухгалтер
      </td>
      <td>
       <b>
        Каримова Разалия Фаритовна
       </b>
      </td>
      <td>
       235-61-59
      </td>
     </tr>
     <tr>
      <td>
       Заместитель главного врача по мед. части
      </td>
      <td>
       <b>
        Баранова Людмила Николаевна
       </b>
      </td>
      <td>
       284-51-47
      </td>
     </tr>
     <tr>
      <td>
      </td>
      <td>
      </td>
     </tr>
    </tbody>
   </table>
   <p>
   </p>
  </td>
 </tr>
</table>
