<table class="contacts-wrap">
<tbody>
 <tr>
  <td>
   <br/>
   <p>
         <span>Полное наименование:</span>  Поликлиника <br>
         Федерального государственного бюджетного научного учреждения <br>
         Уфимского федерального исследовательского центра Российской академии наук<br><br>
         <span>Сокращенное наименование:</span> Поликлиника УФИЦ РАН
   </p>
   <p>
      <br>
      Адрес:  450054, Республика Башкортостан, г. Уфа, проспект Октября, д. 71
      <br>
      Тел.:  (347)284-51-50
      <br>
          Тел./факс: (347)284-51-50
          <br>
      e-mail:
      <a href="mailto:poly@anrb.ru">
		  poly@anrb.ru
      </a>
      <br>
      <br>
   </p>	

   <table class="contacts-group">
    <tbody>
     <tr bgcolor="#3b70b8">
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Должность, ученая степень, ученое звание
         </strong>
        </span>
       </span>
      </td>
	  
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          ФИО
         </strong>
        </span>
       </span>
      </td>
      
	  <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>

 <tr>
       <td>Главный врач, к.м.н.</td>
       <td>
        <b>Попова Елена Петровна</b>
       </td>
       <td> 235-44-44 
</td>
      </tr>

 <tr>
       <td>Регистратура</td>
       <td>
        <b>Меньшова Альбина Маниховна</b>
       </td>
       <td> 235-62-22 
</td>
      </tr>


 <tr>
       <td>Главный бухгалтер</td>
       <td>
        <b>Каримова Разалия Фаритовна</b>
       </td>
       <td> 235-61-59 
</td>
      </tr>


 <tr>
       <td>Заместитель главного врача по мед.части</td>
       <td>
        <b>Муратхузина Айгуль Раифовна</b>
       </td>
       <td> 284-51-47 
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td></td>
      </tr>

    </tbody>
   </table>
  </td>
 </tr>
</tbody>
</table>