<table class="contacts-wrap">
<tbody>
 <tr>
  <td>
   <br/>
   <p>
     	 <span>Полное наименование:</span> Уфимский Институт химии – обособленное структурное подразделение<br>
	 Федерального государственного бюджетного научного учреждения<br>
	 Уфимского федерального исследовательского центра Российской академии наук<br><br>
	 <span>Сокращенное наименование:</span> УфИХ УФИЦ РАН, УфИХ РАН
   </p>
   <p>
      <br>
      Адрес: 450054, Республика Башкортостан, г. Уфа, проспект Октября, д. 69
      <br>
      Тел.: (347) 235-55-60
      <br>
	  Тел./факс: (347) 235-60-66
	  <br>
      e-mail:
      <a href="mailto:chemorg@anrb.ru">
        chemorg@anrb.ru
      </a>
      <br>
      <br>
   </p>
   <table class="contacts-group">
    <tbody>
     <tr bgcolor="#3b70b8">
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Должность, ученая степень, ученое звание
         </strong>
        </span>
       </span>
      </td>
	  
      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          ФИО
         </strong>
        </span>
       </span>
      </td>
      
	  <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>

 <tr>
       <td>Ио директора, д.х.н.</td>
       <td>
        <b>Сафиуллин Рустам Лутфуллович</b>
       </td>
       <td> 235-55-60
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td> 235-60-66
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td> 235-58-83 
</td>
      </tr>


 <tr>
       <td>Заместитель директора по науке, к.х.н.</td>
       <td>
        <b>Хуснутдинов Раиль Альтафович </b>
       </td>
       <td> 235-55-60
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td> 235-60-66
</td>
      </tr>


 <tr>
       <td>Ученый секретарь, д.х.н., проф.</td>
       <td>
        <b>Валеев Фарид Абдуллович</b>
       </td>
       <td> 235-57-11 
</td>
      </tr>


 <tr>
       <td>Приемная</td>
       <td>
        <b>Малышева Мария Борисовна</b>
       </td>
       <td> 235-55-60
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td> 235-60-66 
</td>
      </tr>


 <tr>
       <td>Главный инженер</td>
       <td>
        <b>Асибаков Арслангалей Гадеевич</b>
       </td>
       <td> 284-69-34 
</td>
      </tr>


 <tr>
       <td>Начальник отдела кадров</td>
       <td>
        <b>Козлова Ольга Ивановна</b>
       </td>
       <td> 235-55-60 
</td>
      </tr>


 <tr>
       <td>Главный бухгалтер</td>
       <td>
        <b>Гайсина Лиля Валирахмановна</b>
       </td>
       <td> 235-60-47 
</td>
      </tr>


 <tr>
       <td>Начальник планово-экономического отдела</td>
       <td>
        <b>Могильникова Татьяна Васильевна</b>
       </td>
       <td> 235-62-00 
</td>
      </tr>


 <tr>
       <td>Председатель профсоюза, с.н.с., к.х.н.</td>
       <td>
        <b>Вафина Гузэль Фагимовна</b>
       </td>
       <td> 235-52-88
</td>
      </tr>


 <tr>
       <td>Председатель Совета молодых ученых, н.с.</td>
       <td>
        <b>Лобов Александр Николаевич</b>
       </td>
       <td> 235-61-19 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория биоорганической химии и катализа</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией, д.х.н., проф.</td>
       <td>
        <b>Докичев Владимир Анатольевич</b>
       </td>
       <td> 235-56-77 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория биорегуляторов насекомых</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией, д.х.н., проф.</td>
       <td>
        <b>Ишмуратов Гумер Юсупович</b>
       </td>
       <td> 235-58-01 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория синтеза низкомолекулярных биорегуляторов</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией, д.х.н., проф.</td>
       <td>
        <b>Мифтахов Мансур Сагарьярович</b>
       </td>
       <td> 235-58-47 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория фармакофорных циклических систем</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией, д.х.н., проф.</td>
       <td>
        <b>Валеев Фарид Абдуллович</b>
       </td>
       <td> 235-57-11
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория стереорегулярных полимеров</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией, д.х.н.</td>
       <td>
        <b>Колесов Сергей Викторович</b>
       </td>
       <td> 235-61-66 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория химической кинетики</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией, д.х.н.</td>
       <td>
        <b>Сафиуллин Рустам Лутфуллович</b>
       </td>
       <td> 235-54-96 
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td> 235-62-00
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>

      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория окислительных процессов</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующая лабораторией, д.х.н.</td>
       <td>
        <b>Кабальнова Наталья Нурулловна</b>
       </td>
       <td> 235-60-11 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория электрохимии</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией, д.х.н.</td>
       <td>
        <b>Колосницын Владимир Сергеевич</b>
       </td>
       <td> 235-58-00 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория координационной химии</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией, д.х.н.</td>
       <td>
        <b>Муринов Юрий Ильич</b>
       </td>
       <td> 235-54-00 
</td>
      </tr>


 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Лаборатория синтеза функциональных полимеров</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>


 <tr>
       <td>Заведующий лабораторией</td>
       <td>
        <b>Крайкин Владимир Александрович,</b>
       </td>
       <td> 235-60-96
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b>д.х.н.</b>
       </td>
       <td>
</td>
      </tr>

 <tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td width="380px">
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Диссертационный совет</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>

 <tr>
       <td>Председатель</td>
       <td>
        <b>Юнусов Марат Сабирович, научный руководитель, академик</b>
       </td>
       <td> 235-58-39
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b>Власова Наталья Михайловна, с.н.с., </b>
       </td>
       <td> 235-55-60
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b>к.х.н.</b>
       </td>
       <td> 235-60-66
</td>
      </tr>


 <tr>
       <td></td>
       <td>
        <b></b>
       </td>
       <td></td>
      </tr>

    </tbody>
   </table>
  </td>
 </tr>
</tbody>
</table>