div[id^="citation"] {
  height: 100%;
  width: 255px;
  overflow: hidden; }
  div[id^="citation"] header img {
    margin: 0px 10px; }
  div[id^="citation"] header p {
    font-size: 12px;
    opacity: 0.8;
    font-weight: bold;
    font-style: italic;
    margin: 0px 10px; }
    div[id^="citation"] header p > span {
      display: block;
      margin-top: 10px; }
  div[id^="citation"] .cite::before {
    content: "";
    display: block;
    clear: both;
    height: 16px;
    position: relative; }
  div[id^="citation"] .cite p {
    margin: 0 10px;
    padding: 5px;
    font-size: 80%;
    background-color: green;
    color: white; }
    div[id^="citation"] .cite p::before, div[id^="citation"] .cite p::after {
      content: '"';
      display: inline; }

div[id*="citation-ufic"] header > img {
  float: left; }

div[id*="citation-ufic"] .cite::before {
  left: 110px;
  border-top: 16px solid #f3f3f3;
  border-left: 12px solid green; }

div[id*="citation-rb"] header > img {
  float: right; }

div[id*="citation-rb"] .cite::before {
  right: 110px;
  border-top: 16px solid #f3f3f3;
  border-right: 12px solid green; }
